@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

:root{
    --turqoise: #4ADFDD;
    --not-black: #202020;
    --black: #000;
    --light: #fff;
    --max-width: 550px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--black);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: var(--max-width);
    width: 100%;
    height: 100vh;
    background: var(--not-black);
    display: grid;
    position: relative;
  
}

.layer-01{
    max-width: var(--max-width);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.background-shape{
    
    width: 150px;
    height: 550px;
    background: var(--turqoise);
    transform: rotate(40deg);
    position: relative;
    left: 350px;
    top: 20%;
}

.layer-02{
    max-width: var(--max-width);
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template: repeat(6, 15vh )/ repeat(2,1fr);
   gap: 20px;
   padding: 20px;
   grid-template-areas:
   "square empty"
   "square empty"
   "square empty"
   "square empty"
   "square empty"
   "circle empty";

    position: relative;
    overflow: hidden;
}

.black-square{
    grid-area: square;
    background: var(--black);
    display: grid;
    justify-content: center;

}

.black-circle{
    grid-area: circle;
    background: var(--black);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    
}

.my-sign{
    position: absolute;
    bottom: 10px;
    right: 10px;

}

h2{
    color: var(--light);
    margin-top: 20px;
    font-size: 20px;
    
}

.layer-03{
    max-width: var(--max-width);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    overflow: hidden;
    /* background: white; */
}

.drawing{
    height: 100%;
    width: auto;
    position: relative;
    left: 50px;
}

.layer-04{
    max-width: var(--max-width);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tittle empty";
    gap: 20px;
    padding: 20px;

}

.tittle{
    grid-area: tittle;
    place-self: center;
}

h1{
    color: var(--turqoise);
    font-size: 160px;
    line-height: 140px;
    font-weight: 900;
}

.white-line{
    width: 100%;
    height: 20px;
    background: var(--light);
}

@media (max-width: 500px){
    .black-circle{
        width: 220px;
        height: 220px;
    }

    h2{
        font-size: 15px;
    }
}